<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="titlep">Prospecto</ion-title>
    <ion-searchbar style="display: none;" [(ngModel)]="searchTerm" (ionInput)="setFilter()" #searchbarp id="searchbarp"
    placeholder="Buscar"></ion-searchbar>

    <ion-buttons end id="btnsearchp"  *ngIf="pestanias == 'catalogo'">
        <button ion-button icon-only (click)="search()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end id="closebarp" style="display:none">
          <button ion-button icon-only (click)="closebar()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>

  </ion-navbar>
  <ion-toolbar no-border-top no-border-button color="no-color">
    <ion-segment [(ngModel)]="pestanias" color="secondary">
      <ion-segment-button value="prospecto">
        Prospecto
      </ion-segment-button>
      <ion-segment-button value="catalogo">
        Catálogo
      </ion-segment-button>
      <ion-segment-button value="cotizacion">
        Cotización
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Necesidad del Cliente</ion-label>
      <ion-select [(ngModel)]="necCliente" cancelText="Cancelar" #necesidad  (ngModelChange)="habilita_formulario(necesidad.value)" multiple="false">

        <ion-option *ngFor="let necesidad of list_necesidades" value="{{necesidad.id}}">{{necesidad.name}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <div [ngSwitch]="pestanias">
    <ion-list no-list *ngSwitchCase="'prospecto'">
      <ion-list *ngIf="div_cctv">
        <h3>CCTV</h3><br>
        <ion-item>
          <ion-label stacked>Habitaciones a Proteger</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="habitacionesCCTV" #zona
            (change)="habilitarHabitacionesCCTV(zona.value)" name="habitacionesCCTV"></ion-input>
        </ion-item>

        <div *ngFor="let i of listaHabitacionesCCTV">

            <strong style="color:#E53935">Habitación #{{i.id}}</strong>
            <ion-item>
              <ion-label floating>Nombre de la Habitación #{{i.id}}</ion-label>
              <ion-input [(ngModel)]="nombreHabitacionCCTV[i.id]" name="nombreHabitacionCCTV_{{i.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tipo de muro de la Habitación #{{i.id}}</ion-label>
              <ion-input [(ngModel)]="tipoParedHabitacionCCTV[i.id]" name="tipoParedHabitacionCCTV_{{i.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Cuantas Camaras Necesita en Habitacion #{{i.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="camarasCCTV[i.id]" name="camarasCCTV_{{i.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Aproximidad en Mts² Habitación #{{i.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="aproMtsCCTV[i.id]" name="aproMtsCCTV_{{i.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Altura Maxima en Mts² Habitación #{{i.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="altMtsCCTV[i.id]" name="altMtsCCTV_{{i.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Observaciones para la zona.</ion-label>
              <ion-input type="text" min="0" [(ngModel)]="obserZonaCCTV[i.id]" name="obserZonaCCTV_{{i.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <button ion-button (click)="take_pictures('cctv',i.id)">Tomar Fotos para Zona #{{i.id}}</button>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-4 *ngFor="let image of picturesCCTV[i.id]">
                  <img src="data:image/jpeg;base64,{{image}}" alt="picture{{i.id}}">
                 <!--  <img src="{{this.imageURL}}" alt="picture{{i.id}}"> -->

                </ion-col>
              </ion-row>
            </ion-grid>
        </div>

        <ion-list radio-group [(ngModel)]="lugarImplementacion">
          <ion-list-header>
            Lugar Implementación
          </ion-list-header>
          <ion-item>
            <ion-label>Residencial</ion-label>
            <ion-radio value="residencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Comercial</ion-label>
            <ion-radio value="comercial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Empresarial</ion-label>
            <ion-radio value="empresarial"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item>
            <ion-label stacked> Sistema de Monitoreo</ion-label>
            <ion-select [(ngModel)]="sistemaMonitoreoCCTV" cancelText="Cancelar" value="" multiple="true">
                <ion-option value="18">Radio</ion-option>
                <ion-option value="19">Adsl</ion-option>
                <ion-option value="20">Apps</ion-option>
                <ion-option value="21">Ip</ion-option>
            </ion-select>
        </ion-item>



        <ion-item>
          <ion-label stacked>Canales para Unidad Central de Proceso</ion-label>
          <ion-select [(ngModel)]="canalUnidadCentralProceso" cancelText="Cancelar" value="">
            <ion-option value="0">Seleccione...</ion-option>
            <ion-option value="x4ch">x4CH</ion-option>
            <ion-option value="x8ch">x8CH</ion-option>
            <ion-option value="x12ch">x12CH</ion-option>
            <ion-option value="x16ch">x16CH</ion-option>
          </ion-select>
        </ion-item>
        <ion-list radio-group [(ngModel)]="is_sistemaMonitoreoCCTV">
          <ion-list-header>
            ¿Desea que su sistema sea monitoreado?
          </ion-list-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-list>
<!--         <ion-item>
          <label class="item item-input"><input type="file" id="" (change)="adjuntar_archivo($event,'cctv')"
              name="uploadfile" clear color="danger"></label>
        </ion-item> -->
        <!--
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngFor="let adcctv of adjuntosCCTV">
            <img src="{{adcctv}}" alt="{{adcctv}}">
            </ion-col>
          </ion-row>
        </ion-grid> -->
      </ion-list>

      <ion-list *ngIf="div_cae">
        <h3>Control de Acceso Electronico</h3>
        <ion-list>
          <ion-item>
            <ion-label stacked>Puntos que Desea Controlar</ion-label>
            <ion-input type="number" min="0" [(ngModel)]="habitacionesCAE" #habitacionCAE
              (change)="habilitarHabitacionesCAE(habitacionCAE.value)" name="zonasControlar"></ion-input>
          </ion-item>


          <div *ngFor="let l of listaHabitacionesCAE">
            <strong style="color:#E53935">Habitación # {{ l.id }}</strong>
            <ion-item>
              <ion-label stacked>Nombre de Habitación a Proteger # {{ l.id }}</ion-label>
              <ion-input [(ngModel)]="nombreHabitacionCAE[l.id]" name="nombreHabitacionCAE_{{l.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Tipo Puerta de la Habitación a Proteger # {{ l.id }}</ion-label>
              <ion-input [(ngModel)]="tipoPuertaHabitacionCAE[l.id]" name="tipoPuertaHabitacionCAE_{{l.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Entrada Habitación #{{l.id}}</ion-label>
              <ion-select [(ngModel)]="entradaHabitacionCAE[l.id]" multiple="true">
                <ion-option value="1">Biometrico</ion-option>
                <ion-option value="2">Mecánico</ion-option>
                <ion-option value="3">Boton</ion-option>
                <ion-option value="4">Password</ion-option>
                <ion-option value="5">Sensor</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating>Salida Habitación #{{l.id}}</ion-label>
              <ion-select [(ngModel)]="salidaHabitacionCAE[l.id]" multiple="true">
                <ion-option value="1">Biometrico</ion-option>
                <ion-option value="2">Mecánico</ion-option>
                <ion-option value="3">Boton</ion-option>
                <ion-option value="4">Password</ion-option>
                <ion-option value="5">Sensor</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating>Observaciones para la zona.</ion-label>
              <ion-input type="text" min="0" [(ngModel)]="obserZonaCAE[l.id]" name="obserZonaCAE_{{l.id}}">
              </ion-input>
            </ion-item>
          </div>
          <ion-item>
            <ion-label stacked> Cantidad de Accesos o Usuarios</ion-label>
            <ion-input type="number" [(ngModel)]="cantAccesosHabitacion" name="cantAccesosHabitacion"></ion-input>
          </ion-item>
         <ion-item>
            <label class="item item-input"><input type="file" id="" (change)="adjuntar_archivo($event,'cae')"
                name="uploadfile" clear color="danger"></label>
          </ion-item>
        </ion-list>
      </ion-list>

      <ion-list *ngIf=div_alarmas>
        <h3>Alarmas</h3>
        <ion-item>
          <ion-label stacked>Habitaciones a Cuidar</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="habitacionesAlarmas" #habitacionAlarmas
            (change)="habilitarHabitacionesAlarmas(habitacionAlarmas.value)" name="habitacionesAlarmas"></ion-input>
        </ion-item>

        <div *ngFor="let a of listaHabitacionesAlarmas">

            <strong style="color:#E53935">Habitación #{{a.id}}</strong>
            <ion-item>
              <ion-label floating>Nombre de Habitacion a Cuidar #{{a.id}}</ion-label>
              <ion-input [(ngModel)]="nombreHabitacionAlarmas[a.id]" name="nombreHabitacionAlarmas_{{a.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Cuantos Sensores Necesita la Habitación #{{a.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="alarmasHabitacion[a.id]" name="alarmasHabitacion_{{a.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tipo de Pared de la Habitación #{{a.id}}</ion-label>
              <ion-input type="text" min="0" [(ngModel)]="tipoParedHabitacionAlarma[a.id]"
                name="tipoParedHabitacionAlarma_{{a.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tipo de Puerta de la Habitación #{{a.id}}</ion-label>
              <ion-input type="text" min="0" [(ngModel)]="tipoPuertaHabitacionAlarma[a.id]"
                name="tipoPuertaHabitacionAlarma_{{a.id}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Aproximidad en Mts² Habitación #{{a.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="aproMtsAlarmas[a.id]" name="aproMtsAlarmas_{{a.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Altura Maxima en Mts² Habitación #{{a.id}}</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="altMtsAlarmas[a.id]" name="altMtsAlarmas_{{a.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Observaciones para la zona.</ion-label>
              <ion-input type="text" min="0" [(ngModel)]="obserZonaAlarmas[a.id]" name="obserZonaAlarmas_{{a.id}}">
              </ion-input>
            </ion-item>
            <ion-item>
              <button ion-button (click)="take_pictures('alarma',a.id)">Tomar Fotos para Zona #{{a.id}}</button>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-4 *ngFor="let imageA of picturesAlarmas[a.id]">
                   <img src="data:image/jpeg;base64,{{imageA}}" alt="picture{{a.id}}">

                </ion-col>
              </ion-row>
            </ion-grid>

        </div>

        <ion-list radio-group [(ngModel)]="lugarImplementacionAlarmas">
          <ion-list-header>
            Lugar Implementación
          </ion-list-header>
          <ion-item>
            <ion-label>Residencial</ion-label>
            <ion-radio value="residencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Comercial</ion-label>
            <ion-radio value="comercial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Empresarial</ion-label>
            <ion-radio value="empresarial"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label stacked> Sistema de Monitoreo</ion-label>
          <ion-select [(ngModel)]="sisMonitoreo" multiple="true">
            <ion-option value="2">Sirena</ion-option>
            <ion-option value="3">Luz</ion-option>
            <ion-option value="4">LAN</ion-option>
            <ion-option value="5">GPRS</ion-option>
            <ion-option value="6">Discado Telefónico</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Canales para Unidad Central de Proceso</ion-label>
         <ion-select [(ngModel)]="canalUnidadCentralProcesoAlarmas" cancelText="Cancelar" value="">
            <ion-option value="x4ch">x4CH</ion-option>
            <ion-option value="x8ch">x8CH</ion-option>
            <ion-option value="x12ch">x12CH</ion-option>
            <ion-option value="x16ch">x16CH</ion-option>
          </ion-select>
        </ion-item>
        <ion-list radio-group [(ngModel)]="sistemaMonitoreoAlarmas">
          <ion-list-header>
            ¿Desea que su sistema sea monitoreado?
          </ion-list-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item>
          <label class="item item-input"><input type="file" id="" (change)="adjuntar_archivo($event,'alarma')"
              name="uploadfile" clear color="danger"></label>
        </ion-item>

      </ion-list>

      <ion-list *ngIf=div_incendios>
        <h3>Incendios</h3>
        <ion-item>
          <ion-label stacked>Zonas a Cuidar</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="habitacionesIncendios" #habitacionIncendios
            (change)="habilitarHabitacionesIncendios(habitacionIncendios.value)" name="habitacionesIncendios"> </ion-input>
        </ion-item>

        <div *ngFor="let in of listaHabitacionesIncendios">
          <strong style="color:#E53935">Habitaciones #{{in.id}}</strong>

          <ion-item>
            <ion-label floating>Nombre de Habitación a Cuidar #{{in.id}}</ion-label>
            <ion-input [(ngModel)]="nombreHabitacionIncendios[in.id]" name="nombreHabitacionIncendios_{{in.id}}"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Cuantos Sensores Necesita la Habitacion #{{in.id}}</ion-label>
            <ion-input type="number" min="0" [(ngModel)]="sensoresIncendio[in.id]" name="sensoresIncendio_{{in.id}}">    </ion-input>
          </ion-item>


          <ion-item>
            <ion-label floating>Tipo de Pared de la Habitacion #{{in.id}}</ion-label>
            <ion-input type="text" min="0" [(ngModel)]="tipoParedHabitacionIncendio[in.id]"  name="tipoParedHabitacionIncendio_{{in.id}}">  </ion-input>
          </ion-item>


          <ion-item>
            <ion-label floating>Aproximidad en Mts² de la Habitación #{{in.id}}</ion-label>
            <ion-input type="number" min="0" [(ngModel)]="aproMtsIncendio[in.id]" name="aproMtsIncendio_{{in.id}}">  </ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>ALtura Maxima en Mts² de la Habitación #{{in.id}}</ion-label>
            <ion-input type="number" min="0" [(ngModel)]="altMtsIncendio[in.id]" name="altMtsIncendio_{{in.id}}">   </ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Observaciones para la zona.</ion-label>
            <ion-input type="text" min="0" [(ngModel)]="obserZonaIncendio[in.id]" name="obserZonaIncendio_{{in.id}}">
            </ion-input>
          </ion-item>
          <ion-item>
            <button ion-button (click)="take_pictures('incendio',in.id)">Tomar Fotos para Zona #{{in.id}}</button>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let image of picturesIncendio[in.id]">
                <img src="data:image/jpeg;base64,{{image}}" alt="picture{{in.id}}">

              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-list radio-group [(ngModel)]="lugarImplementacionINC">
          <ion-list-header>
            Lugar Implementación
          </ion-list-header>
          <ion-item>
            <ion-label>Residencial</ion-label>
            <ion-radio value="residencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Comercial</ion-label>
            <ion-radio value="comercial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Empresarial</ion-label>
            <ion-radio value="empresarial"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item>
            <ion-label stacked> Sistema de Monitoreo</ion-label>
            <ion-select [(ngModel)]="sistemaMonitoreoINC" cancelText="Cancelar" value="" multiple="true">
                <ion-option value="18">Radio</ion-option>
                <ion-option value="19">Adsl</ion-option>
                <ion-option value="20">Apps</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Canales para Unidad Central de Proceso</ion-label>
          <ion-select [(ngModel)]="canalUnidadCentralProcesoINC" cancelText="Cancelar" value="">
            <ion-option value="x4ch">x4CH</ion-option>
            <ion-option value="x8ch">x8CH</ion-option>
            <ion-option value="x12ch">x12CH</ion-option>
            <ion-option value="x16ch">x16CH</ion-option>
          </ion-select>
        </ion-item>
        <ion-list radio-group [(ngModel)]="ismonitorigINC">
          <ion-list-header>
            ¿Desea que su sistema sea monitoreado?
          </ion-list-header>
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio value="0"></ion-radio>
          </ion-item>
        </ion-list>

      </ion-list>


    <!-- equipo pesado   -->

      <ion-list *ngIf="div_eps">
        <h3>Equipo Pesado de Seguridad</h3><br>
        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione Tipo de Valor a Almacenar</ion-label>
            <ion-select [(ngModel)]="tipoAlmacenar" cancelText="Cancelar" value="" multiple="true">
              <ion-option value="1">Documentos</ion-option>
              <ion-option value="2">Dinero</ion-option>
              <ion-option value="3">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="tipoAlmacenar == '3' ">
            <ion-label floating>Otro:</ion-label>
            <ion-input [(ngModel)]="taOtro" name="taOtro"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list radio-group [(ngModel)]="lugarImplementacionEPS">
          <ion-list-header>
            Lugar de Instalación
          </ion-list-header>
          <ion-item>
            <ion-label>Residencial</ion-label>
            <ion-radio value="residencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Comercial</ion-label>
            <ion-radio value="comercial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Empresarial</ion-label>
            <ion-radio value="empresarial"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione Elementos Necesarios para Instalación</ion-label>
            <ion-select [(ngModel)]="elementosNecesariosInstalacion" cancelText="Cancelar" value="" multiple="true">
              <ion-option value="1">Cerradura Digital</ion-option>
              <ion-option value="2">Cerradura Mecánica</ion-option>
              <ion-option value="3">Motorizado</ion-option>
              <ion-option value="4">Tarjeta Temporizado</ion-option>
              <ion-option value="5">Tarjeta Sensor</ion-option>
              <ion-option value="6">Contacto Magnetico</ion-option>
              <ion-option value="7">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Otro:</ion-label>
            <ion-input *ngIf="elementosNecesariosInstalacion == '7'" [(ngModel)]="eniOtro" name="eniOtro"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>¿Desea Blindaje para su equipo?</ion-label>
            <ion-toggle [(ngModel)]="desaBlindaje"></ion-toggle>
          </ion-item>
        </ion-list>
        <ion-list radio-group [(ngModel)]="nivelBlindaje" *ngIf="desaBlindaje">
          <ion-list-header>
            Nivel de Blindaje
          </ion-list-header>
          <ion-item>
            <ion-label>Nivel 1</ion-label>
            <ion-radio value="lvl1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Nivel 2</ion-label>
            <ion-radio value="lvl2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Nivel 3</ion-label>
            <ion-radio value="lvl3"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione Color</ion-label>
            <ion-select [(ngModel)]="colorBlindaje" cancelText="Cancelar" value="">
              <ion-option value="gris">Gris</ion-option>
              <ion-option value="Blanco">Blanco</ion-option>
              <ion-option value="negro">Negro</ion-option>
              <ion-option value="cafe">Café</ion-option>
              <ion-option value="otro">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-item  *ngIf="colorBlindaje == 'otro' ">
            <ion-label>Otro:</ion-label>
            <ion-input [(ngModel)]="cbOtro" name="cbOtro"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Dimenciones para su Equipo
          </ion-list-header>
          <ion-item>
            <ion-label floating>Frente: </ion-label>
            <ion-input type="number" [(ngModel)]="frente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Fondo: </ion-label>
            <ion-input type="number" [(ngModel)]="fondo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Alto: </ion-label>
            <ion-input type="number"  [(ngModel)]="alto"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <label class="item item-input"><input type="file" id="" (change)="adjuntar_archivo($event,'epc')"
              name="uploadfile" clear color="danger"></label>
        </ion-item>

      </ion-list>

      <ion-list *ngIf="div_els">
        <h3>Equipo Livano de Seguridad</h3><br>

        <ion-list>
          <ion-item>
            <ion-label floating>Cantidad de Dinero a Almacenar:</ion-label>
            <ion-input type="number" [(ngModel)]="cantDineroAl" name="cantDineroAl"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list radio-group [(ngModel)]="lugarInstEquipo">
          <ion-list-header>
            Lugar Instalación Equipo
          </ion-list-header>
          <ion-item>
            <ion-label>Residencial</ion-label>
            <ion-radio value="residencial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Comercial</ion-label>
            <ion-radio value="comercial"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Empresarial</ion-label>
            <ion-radio value="empresarial"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione el tipo de equipo que desea</ion-label>
            <ion-select [(ngModel)]="tipoEquipo" cancelText="Cancelar" value="" multiple="true">
              <ion-option value="12">Cofre</ion-option>
              <ion-option value="16">Cofre DVR</ion-option>
              <ion-option value="8">Billetero</ion-option>
              <ion-option value="19">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-list>
            <ion-item *ngIf="tipoEquipo == '19' ">
              <ion-label floating>Otro:</ion-label>
              <ion-input type="text"  [(ngModel)]="teOtro" name="taOtro"></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione Elementos Necesarios para Instalación</ion-label>
            <ion-select [(ngModel)]="elementosNecesariosInstalacion" cancelText="Cancelar" value="" multiple="true">
              <ion-option value="1">Cerradura Digital</ion-option>
              <ion-option value="2">Cerradura Mecánica</ion-option>
              <ion-option value="3">Motorizado</ion-option>
              <ion-option value="4">Tarjeta Temporizado</ion-option>
              <ion-option value="5">Tarjeta Sensor</ion-option>
              <ion-option value="6">Contacto Magnetico</ion-option>
              <ion-option value="7">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-list>
            <ion-item *ngIf="elementosNecesariosInstalacion == '7'" >
              <ion-label floating>Otro:</ion-label>
              <ion-input type="text"  [(ngModel)]="eniOtro" name="eniOtro"></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label stacked>Seleccione Color</ion-label>
            <ion-select [(ngModel)]="colorBlindaje" cancelText="Cancelar" value="">
              <ion-option value="gris">Gris</ion-option>
              <ion-option value="Blanco">Blanco</ion-option>
              <ion-option value="negro">Negro</ion-option>
              <ion-option value="cafe">Café</ion-option>
              <ion-option value="otro">Otro</ion-option>
            </ion-select>
          </ion-item>
          <ion-list>
            <ion-item *ngIf="colorBlindaje == 'otro'">
              <ion-label floating>Otro:</ion-label>
              <ion-input type="text" [(ngModel)]="cbOtro" name="cbOtro"></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Dimenciones para su Equipo
          </ion-list-header>
          <ion-item>
            <ion-label floating>Frente: </ion-label>
            <ion-input type="number" [(ngModel)]="frente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Fondo: </ion-label>
            <ion-input type="number" [(ngModel)]="fondo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Alto: </ion-label>
            <ion-input type="number" [(ngModel)]="alto"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
<!--       <ion-item>
        <label class="item item-input"><input type="file" id="" (change)="adjuntar_archivo($event,'epc')"
            name="uploadfile" clear color="danger"></label>
      </ion-item> -->
      <button ion-button full *ngIf="necCliente != 'undefined' "  color="secondary" (click)="saveProspecto()" >Guardar Prospecto</button>

    </ion-list>




    <ion-list no-list *ngSwitchCase="'catalogo'">
      <h1>Posibles Opciones</h1>
       <div *ngIf="list_items.length > 0; else elseItems">

        <ion-card *ngFor="let item of filterData">
          <ion-card-content>
            <div *ngIf="item.image_medium;else elseimg">
              <img [src]="sanitize('data:image/jpeg;base64,'+item.image_medium)" alt="{{item.name}}">
            </div>
            <ng-template #elseimg>
              <img src="assets/imgs/picture.png" width="50%">
            </ng-template>
            <ion-item >
<!--               <ion-icon name="information" color="danger" item-start></ion-icon>
              Nombre: -->
              <div class="center_item">
                <ion-badge style="display:block" color="danger" item-content>{{item.name}}</ion-badge>
              </div>
            </ion-item>
            <ion-item>
              <ion-icon name="checkmark" color="danger" item-start></ion-icon>
              Disponibles:
              <ion-badge color="danger" item-end>{{item.qty_available}}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
              Precio:
              <ion-badge color="danger" item-end>{{ item.currency_id[1] }} {{ item.list_price | number:'3.2-5'}}
              </ion-badge>
            </ion-item>
            <button ion-button color="danger" (click)="agregaCarrito(item)">
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </div>
      <ng-template #elseItems>
        <h1>Por favor seleccione mínimo una necesidad del cliente</h1>
      </ng-template>

    </ion-list>

    <ion-list no-list *ngSwitchCase="'cotizacion'">
      <h1>Cotización</h1>
      <ion-card *ngFor="let itc of list_items_carrito">
        <div *ngIf="itc.image_medium;else elseimgc">
          <img [src]="sanitize('data:image/jpeg;base64,'+itc.image_medium)" alt="{{itc.name}}">
        </div>
        <ng-template #elseimgc>
          <img src="assets/imgs/picture.png" width="50%">
        </ng-template>
        <ion-card-content>
          <ion-item>
<!--             <ion-icon name="information" color="danger" item-start></ion-icon>
            Nombre: -->
            <div class="center_item">

              <ion-badge  style="display:block" color="danger" item-start>{{itc.name}}</ion-badge>

            </div>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark" color="danger" item-start></ion-icon>
            Disponibles:
            <ion-badge color="danger" item-end>{{itc.qty_available}}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
            Costo:
            <ion-badge color="danger" item-end>{{ itc.currency_id[1] }} {{ itc.list_price | number:'3.2-5'}}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label stacked>Seleccione % Utilidad</ion-label>
            <ion-select [(ngModel)]="porcentajeUtilidad[itc.id]" cancelText="Cancelar" #sdefdef
              (ngModelChange)="cambiaUtilidad()" value="0">
              <ion-option value="0">0%</ion-option>
              <ion-option value="25">25%</ion-option>
              <ion-option value="50">50%</ion-option>
              <ion-option value="75">75%</ion-option>
              <ion-option value="100">100%</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
            Precio:
            <ion-badge color="danger" item-end *ngIf="porcentajeUtilidad[itc.id]">{{itc.list_price + (itc.list_price *
              porcentajeUtilidad[itc.id] / 100) | number:'3.2-5'}}</ion-badge>
            <ion-badge color="danger" item-end *ngIf="!porcentajeUtilidad[itc.id]">{{itc.list_price | number:'3.2-5'}}
            </ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="list_items_carrito.length > 0; else elseItemsCarrito">
        <ion-card-content>
          <ion-item>
            <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
            SubTotal:
            <ion-badge color="danger" item-end>{{subTotal | number:'3.2-5'}}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
            Impuesto:
            <ion-badge color="danger" item-end>19%</ion-badge>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-usd" color="danger" item-start></ion-icon>
            Total:
            <ion-badge color="danger" item-end>{{total | number:'3.2-5'}}</ion-badge>
          </ion-item>
          <ion-item >

            <button ion-button full  color="secondary" (click)="saveCotizacion()" >Guardar Cotización</button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ng-template #elseItemsCarrito>
        <h1>El carrito esta vacío</h1>
      </ng-template>

    </ion-list>
  </div>
</ion-content>
